<body>
  <h1>To-Do App</h1>

  <div class="addBar">
    <input
      #newItem
      placeholder="What would you like to do today?"
      (keyup.enter)="addItem(newItem.value); newItem.value = ''"
      class="textInput"
      id="addItemInput"
    />

    <button class="btn-primary" (click)="addItem(newItem.value)">Add</button>
  </div>

  <div class="container">
    <div class="listBox" id="allTasks">
      <h2>All</h2>
      <div class="list">
        
        <div class="taskBox" *ngFor="let item of allitems">
          <div class="task">
            <input type="checkbox" [checked] = "item.done" (click)="checkItem(item);">
            <p [hidden]="!item.edit" (click) = toggleDisplay(item)>{{item.description}}</p>
            <input 
              #newName 
              [hidden] = "item.edit"
              placeholder="{{item.description}}" 
              (keyup.enter)="saveChanges(newName.value, item); newName.value =''"
              class="textInput"
              id="editInput"/>
            <button class="deleteButton" (click)="deleteItem(item);"><img alt="delete" src="../assets/img/mdi_delete.svg"/></button>
          </div>
        </div>
      </div>
    </div>

    
    <div class="listBox" id="todoTasks">
      <h2>To do</h2>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList]"
        class="list"
        (cdkDropListDropped)="drop($event)">
          
          <div class="taskBox" *ngFor="let item of todo" cdkDrag>
            <div class="task">
              <input type="checkbox" [checked] = "item.done" (click)="checkItem(item);">
              <p [hidden]="!item.edit" (click) = toggleDisplay(item)>{{item.description}}</p>
            <input 
              #newName 
              [hidden] = "item.edit"
              placeholder="{{item.description}}" 
              (keyup.enter)="saveChanges(newName.value, item); newName.value =''"
              class="textInput"
              id="editInput"/>
              <button class="deleteButton" (click)="deleteItem(item);"><img alt="delete" src="../assets/img/mdi_delete.svg"/></button>
            </div>
          </div>
      </div>
    </div>
    
    <div class="listBox" id="doneTasks">
      <h2>Done</h2>
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList]"
        class="list"
        (cdkDropListDropped)="drop($event)">
        

        <div class="taskBox" *ngFor="let item of done" cdkDrag>
          <div class="task">
            <input type="checkbox" [checked] = "item.done" (click)="checkItem(item);">
            <p [hidden]="!item.edit" (click) = toggleDisplay(item)>{{item.description}}</p>
            <input 
              #newName 
              [hidden] = "item.edit"
              placeholder="{{item.description}}" 
              (keyup.enter)="saveChanges(newName.value, item); newName.value =''"
              class="textInput"
              id="editInput"/>
              <button class="deleteButton" (click)="deleteItem(item);"><img alt="delete" src="../assets/img/mdi_delete.svg"/></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>